@import "variables"

.btn-light
  border-color: $primaryLighterColor
  padding: 10px 22px
  border-radius: 25px
  font-size: 14px
  font-weight: 600
  line-height: 20px
  color: $darkLighterColor

.btn-find
  background: $FindColor
  color: $MainColor
  padding: 16px
  border-radius: 10%

.btn-worth
  font-weight: 600
  font-size: 16px
  line-height: 24px
  padding: 16px 32px
  background: $FindColor
  color: $MainColor

.btn-sm
  font-weight: 600
  font-size: 16px
  line-height: 20px
  padding: 5px 15px
  background: $FindColor
  color: $MainColor
  border-radius: 5px

.btn-form-update
  font-weight: 600
  font-size: 16px
  line-height: 24px
  padding: 16px 32px
  background: $FindColor
  color: $MainColor
  border-radius: 40px
  left: 540px
  position: absolute