@import "variables"

.btn-light
  border-color: $primaryLighterColor
  padding: 10px 22px
  border-radius: 25px
  font-size: 14px
  font-weight: 600
  line-height: 20px
  color: $darkLighterColor

.btn-find
  padding: 19px
  border-radius: 12%
  border-top-left-radius: 8px!important
  border-bottom-left-radius: 8px!important
  max-height: 56px
  max-width: 56px

.btn-worth
  border-radius: 8px

.btn-sm
  font-weight: 600
  font-size: 16px
  line-height: 20px
  padding: 5px 15px
  border-radius: 5px

.btn-form-update
  border-radius: 40px

.btn-primary
  background: $FindColor
  color: $MainColor

.btn-lg
  font-weight: 600
  font-size: 16px
  line-height: 24px
  padding: 16px 32px

