@import "../icon/style.css";
#btn-show-menu {
  line-height: 1.2;
  -webkit-transition: all 0.12s linear;
  -moz-transition: all 0.12s linear;
  -o-transition: all 0.12s linear;
  transition: all 0.12s linear;
  cursor: pointer;
}

#btn-show-menu.hide {
  opacity: 0;
}

.overlay {
  overflow: hidden;
  z-index: 100;
}

.overlay:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 101;
  -webkit-transition: all 0.12s linear;
  -moz-transition: all 0.12s linear;
  -o-transition: all 0.12s linear;
  transition: all 0.12s linear;
}

#menu {
  padding: 87px 30px 30px;
  width: 320px;
  height: 100%;
  background-color: #fff;
  transform: translateX(320px);
  position: fixed;
  z-index: 102;
  top: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: all 0.12s linear;
  -moz-transition: all 0.12s linear;
  -o-transition: all 0.12s linear;
  transition: all 0.12s linear;
}

#menu.show {
  transform: translateX(0);
}

#menu #btn-hide-menu {
  width: 44px;
  height: 44px;
  line-height: 1;
  text-align: center;
  position: absolute;
  top: 44px;
  left: 248px;
  font-size: 14px;
  cursor: pointer;
  background-color: #f9d15c;
  color: #262833;
  border-radius: 50%;
  -webkit-transition: all 0.12s linear;
  -moz-transition: all 0.12s linear;
  -o-transition: all 0.12s linear;
  transition: all 0.12s linear;
}

#menu #btn-hide-menu .icon {
  font-size: 12px;
  line-height: 44px;
}

.burger {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.burger li + li {
  margin-top: 8px;
}

.burger li a {
  font-size: 16px;
  font-weight: normal;
  color: #333;
  text-decoration: none;
  -webkit-transition: all 0.12s linear;
  -moz-transition: all 0.12s linear;
  -o-transition: all 0.12s linear;
  transition: all 0.12s linear;
}

.burger li a:hover {
  color: #249ac2;
}

#menu .burger .btn {
  padding: 0;
}

#menu .burger .btn .icon {
  margin-right: 7px;
  margin-top: 0;
}

.btn-light {
  border-color: #999999;
  padding: 10px 22px;
  border-radius: 25px;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: #100F2E;
}

.btn-find {
  padding: 19px;
  border-radius: 9px;
  border-top-left-radius: 8px !important;
  border-bottom-left-radius: 8px !important;
  max-height: 56px;
  max-width: 56px;
}

.btn-worth {
  border-radius: 8px;
}

.btn-sm {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  padding: 5px 15px;
  border-radius: 5px;
}

.btn-form-update {
  border-radius: 49px;
  border-top-left-radius: 50px !important;
  border-bottom-left-radius: 50px !important;
  position: relative;
  right: 140px;
}

.btn-primary {
  background: #3771C8;
  color: #FFFFFF;
}

.btn-lg {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  padding: 16px 32px;
}

.intro-img-group {
  margin-bottom: 120px;
}

.swiper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.swiper .swiper-slide img {
  display: block;
  object-fit: cover;
}
.swiper.intro-slider .swiper-slide {
  padding: 15px 15px 45px 15px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border-radius: 16px;
  min-height: 590px;
}
.swiper.intro-slider .swiper-slide img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 16px;
}
.swiper.intro-slider .swiper-slide .slider-text {
  z-index: 101;
  font-weight: 600;
  font-size: 48px;
  color: #FFFFFF;
}
.swiper.in-intro-slider .swiper-wrapper {
  display: flex;
  flex-direction: column;
  max-height: 590px;
}
.swiper.in-intro-slider .swiper-slide {
  opacity: 0.4;
  overflow: hidden;
}
.swiper.in-intro-slider .swiper-slide img {
  width: 100%;
  min-height: 287px;
  border-radius: 25px;
}
.swiper.in-intro-slider .swiper-slide-thumb-active {
  opacity: 1;
}

.section-feedback {
  margin-bottom: 120px;
}
.section-feedback .feedback-slider .slider-user {
  min-height: 400px;
}
.section-feedback .in-feedback-slider .swiper-wrapper {
  display: flex;
}
.section-feedback .in-feedback-slider .swiper-slide {
  overflow: hidden;
  max-height: 400px;
}
.section-feedback .in-feedback-slider .swiper-slide .feedback-group {
  padding: 42px 71px 87px 71px;
  text-align: center;
  background: #F9D15C;
  min-height: 400px;
}
.section-feedback .in-feedback-slider .swiper-slide .feedback-photo {
  margin: 0 auto 8px;
  text-align: center;
  width: 64px;
  height: 64px;
  border-radius: 50px;
}
.section-feedback .in-feedback-slider .swiper-slide .feedback-title {
  line-height: 32px;
  font-weight: 400;
  font-size: 16px;
  color: #555555;
  margin-bottom: 23px;
}
.section-feedback .in-feedback-slider .swiper-slide .feedback-mini {
  line-height: 36px;
  font-weight: 300;
  font-size: 30px;
  color: #222222;
}

.form-control {
  background: #FAFAFA;
  font-size: 24px;
  font-weight: 400;
  line-height: 41px;
  border: none;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #FFFFFF;
  font-size: 16px;
  font-weight: normal;
  min-height: 100vh;
  overflow-x: hidden;
}

.container {
  max-width: 1304px;
}

.container-sm {
  max-width: 1130px;
}

.header {
  padding-top: 48px;
  margin-bottom: 100px;
}
.header .header-logo {
  -webkit-transition: 1s ease;
}
.header .header-logo:hover {
  transform: scale(1.4, 1.4) rotateX(360deg);
  transition: 1s;
}
.header .nav .nav-item {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #222222;
  margin-left: 40px;
  -webkit-transition: 2s ease;
}
.header .nav-item:first-child {
  margin-left: 0;
}
.header .nav .btn-light {
  margin-left: 25px;
  -webkit-transition: 2s ease;
}
.header .nav .btn-light:hover {
  content: "";
  background-color: #f9d15c;
  z-index: 101;
  transition: 1s;
}
.header .nav .icon {
  margin-left: 60px;
  color: #000000;
  font-size: 25px;
  display: block;
}
.header .nav .icon:hover {
  content: "";
  transform: rotateY(180deg) scale(1.2, 1.2);
  transition: 3s;
}
.header .nav a:hover {
  content: "";
  color: #f9d15c;
  z-index: 101;
  transition: 0.3s;
}

.intro .intro-title-group {
  border: none;
}
.intro .input-group-text {
  border: none;
  background-color: #FAFAFA;
  border-radius: 8px;
}
.intro .intro-title {
  font-size: 60px;
  line-height: 80px;
  color: #000000;
  margin-bottom: 30px;
  letter-spacing: 1px;
}
.intro .intro-mini-text {
  font-size: 20px;
  line-height: 32px;
  color: #555555;
}
.intro .icon {
  font-size: 20px;
  color: #999999;
}
.intro .icon-find {
  font-size: 18px;
}
.intro .intro-form {
  padding: 50px 20px;
  max-width: 490px;
  box-shadow: 0 22px 38px rgba(0, 34, 19, 0.04);
  border-radius: 20px;
}

.service .service-title {
  font-size: 40px;
  font-weight: 600;
  line-height: 50px;
  color: #000000;
  margin-bottom: 16px;
}
.service .service-mini-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: #555555;
  max-width: 580px;
  margin-bottom: 40px;
}
.service .service-group {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.service-link {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  position: relative;
  display: inline-block;
}
.service-link:after {
  content: "";
  height: 6px;
  display: block;
  border-radius: 3px;
  border: #F9D15C solid 1px;
  position: absolute;
  top: 100%;
  right: -15px;
  left: -15px;
}

.service {
  margin-bottom: 80px;
}
.service .service-items {
  text-align: center;
}
.service .service-items .item-one {
  padding: 33px 15px 50px;
  border-radius: 8px;
}
.service .service-items .item-one:hover {
  box-shadow: 0 30px 40px rgba(0, 0, 0, 0.05);
}
.service .service-items .item-one .figure {
  width: 56px;
  height: 56px;
  background: #F9D15C;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  position: relative;
}
.service .service-items .item-one .icon {
  font-size: 50px;
  color: #222222;
  position: absolute;
  top: 19px;
  right: -4px;
}
.service .service-items .item-body .service-title {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  padding-top: 51px;
  margin-bottom: 12px;
}
.service .service-items .item-body .service-mini-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

.section_worth {
  margin-bottom: 100px;
}
.section_worth .worth-full {
  padding-left: 43px;
}
.section_worth .worth-full .worth-title {
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
  margin-bottom: 20px;
  max-width: 400px;
}
.section_worth .worth-full .worth-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 29px;
}
.section_worth .worth-full .worth-number .worth-group {
  margin-bottom: 57px;
  padding-left: 5px;
  text-align: center;
}
.section_worth .worth-full .worth-number .worth-group .worth-element {
  color: #222222;
  font-weight: 700;
  font-size: 30px;
  line-height: 46px;
  margin-bottom: 16px;
  display: block;
}
.section_worth .worth-full .worth-number .worth-group .worth-mini-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
}

.section-mini-logo-line {
  margin-bottom: 100px;
}
.section-mini-logo-line .mini-logo-one {
  -webkit-transition: 2s ease;
}
.section-mini-logo-line .mini-logo-one:hover {
  transform: scale(1.4, 1.4);
  transition: 1s;
}

.section-best {
  margin-bottom: 120px;
}
.section-best .tab-user {
  color: #495057;
  text-decoration: none;
}
.section-best .card-header {
  border: 0;
  text-align: center;
  background-color: rgba(249, 209, 92, 0.3);
}
.section-best .tab-content .card {
  border-radius: 10px;
  margin-bottom: 10px;
}
.section-best .tab-content .card .card-img-top {
  margin-bottom: 20px;
}
.section-best .tab-content .card .card-body {
  padding: 0 20px 3px;
}
.section-best .tab-content .card .card-body .card-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 8px;
  color: #222222;
  text-align: left;
}
.section-best .tab-content .card .card-body .card-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  margin-bottom: 27px;
  color: #222222;
  text-align: left;
  max-width: 330px;
}
.section-best .tab-content .card .card-body .card-footer {
  border: 0;
  background-color: #FFFFFF;
  padding: 0;
}
.section-best .tab-content .card .card-body .card-footer p {
  display: flex;
  font-weight: 600;
  font-size: 24px;
  line-height: 1;
  color: #3771C8;
}
.section-best .tab-content .card .card-body .card-footer p .best-element {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: #222222;
  padding-top: 5px;
}
.section-best .best-title {
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  margin-bottom: 20px;
}
.section-best .best-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 20px;
  max-width: 405px;
}
.section-best .nav-link {
  color: #555555;
  padding: 8px 27px;
  border-color: #999999 1px solid;
  -webkit-transition: 2s ease;
}
.section-best .nav-link:hover {
  content: "";
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.15);
  z-index: 101;
  transition: 1s;
  border-radius: 10px;
}
.section-best .nav li {
  margin-right: 39px;
}
.section-best .nav li:last-child {
  margin-right: 0;
}
.section-best .nav-tabs {
  border: none;
  margin-bottom: 40px;
}
.section-best .nav-tabs .nav-item {
  border: 1px solid #555555;
  border-radius: 10px;
}
.section-best .nav-tabs .nav-item .nav-link.active {
  border: 1px solid #222222;
  border-radius: 10px;
}

.best-service-group {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.best-service-group .service-link {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 35px;
  -webkit-transition: 2s ease;
}
.best-service-group .service-link:hover {
  transform: scale(1.2, 1.2);
  transition: 2s;
}
.best-service-group .service-link::after {
  content: "";
  height: 6px;
  display: block;
  border-radius: 50px;
  border: #F9D15C solid 1px;
}

.section-best-cards {
  margin-bottom: 120px;
}

.section-updates {
  margin-bottom: 125px;
}
.section-updates .update-group {
  background-color: #EAECEB;
  padding-right: 84px;
  overflow: hidden;
  border-radius: 16px;
}
.section-updates .update-group .update-mini-group {
  padding: 60px 74px 66px 74px;
}
.section-updates .update-group .update-mini-group .update-title {
  font-weight: 600;
  font-size: 40px;
  line-height: 1.25;
  margin-bottom: 20px;
  color: #222222;
  max-width: 700px;
}
.section-updates .update-group .update-mini-group .update-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  margin-bottom: 92px;
  color: #555555;
  max-width: 500px;
}
.section-updates .update-group .update-mini-group .update-form {
  display: flex;
}
.section-updates .update-group .update-mini-group .update-form .form-control {
  background: #FFFFFF;
  border-radius: 25px;
  font-size: 14px;
  line-height: 2;
  font-weight: 400;
  padding: 14px 0 14px 25px;
  position: relative;
  min-width: 486px;
}
.section-updates .update-group .update-mini-group .update-form .input-group {
  flex-wrap: nowrap;
  align-content: center;
}
.section-updates .update-group .img-update {
  height: auto;
  max-width: 400px;
}

.footer {
  margin-bottom: 60px;
}
.footer .footer-logo-group {
  padding-left: 20px;
}
.footer .footer-logo-group .footer-logo {
  margin-bottom: 19px;
}
.footer .footer-logo-group .footer-text {
  color: #555555;
  margin-bottom: 31px;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  max-width: 265px;
}
.footer .footer-social-icon a {
  margin-right: 24px;
  text-decoration: none;
}
.footer .footer-social-icon .icon {
  font-size: 18px;
  color: #555555;
}
.footer .head-group-footer {
  list-style: none;
  padding-right: 24px;
  padding-left: 118px;
}
.footer .head-group-footer a {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: #222222;
  text-decoration: none;
  margin-bottom: 16px;
  display: block;
}
.footer .element-footer {
  font-size: 24px;
  line-height: 1.5;
  font-weight: 400;
  color: #222222;
  margin-bottom: 24px;
  display: block;
}

.modal .modal-dialog {
  background: #FFFFFF;
  border: none;
  max-width: 400px;
}
.modal .modal-dialog .modal-content {
  margin-bottom: 20px;
  border-bottom: none;
}
.modal .modal-dialog .modal-content .modal-header {
  padding: 40px 40px 0;
  border: none;
}
.modal .modal-dialog .modal-content .modal-header .btn-close {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #F9D15C;
  color: #000000;
  font-size: 16px;
  text-align: center;
  font-weight: 800;
  top: -54px;
  right: -54px;
  position: relative;
}
.modal .modal-dialog .modal-content .modal-header .modal-title {
  font-size: 30px;
  font-weight: 600;
  line-height: 20px;
  color: #000000;
  text-align: center;
  position: absolute;
  margin-bottom: 15px;
}
.modal .modal-dialog .modal-body {
  padding: 0 40px;
}
.modal .modal-dialog .modal-body .modal_name {
  margin: 10px 0;
  font-weight: 500;
}
.modal .modal-dialog .modal-body .form-control {
  font-size: 16px;
  font-weight: 300;
  line-height: 18px;
  margin-bottom: 10px;
  max-width: 350px;
}
.modal .modal-dialog .modal-body .form-check-label {
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 15px;
}
.modal .modal-dialog .footer-modal {
  padding: 0 40px 40px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.modal .modal-dialog .footer-modal .btn {
  padding: 10px 20px;
  margin-bottom: 20px;
}
.modal .modal-dialog .footer-modal .modal-link {
  padding: 10px;
  text-decoration: none;
  color: #000000;
}
.modal .modal-dialog .footer-modal .modal-link .icon {
  font-size: 25px;
  color: #222222;
}

.row-padding-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.row-padding-0 > * {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

@media screen and (max-width: 1199.98px) {
  .swiper.intro-slider .swiper-slide img {
    min-height: 590px;
  }

  .service-link:after {
    position: static;
  }

  .section_worth {
    text-align: center;
    margin-bottom: 30px;
  }
  .section_worth .worth-full .worth-title {
    max-width: 1119px;
    text-align: center;
  }

  .service {
    margin-bottom: 30px;
  }

  .img-worth {
    margin: 0 auto 20px;
    display: block;
  }

  .intro-img-group {
    margin-bottom: 30px;
  }
  .intro-img-group.feedback-title {
    margin-bottom: 10px;
  }

  .section-updates .update-group .img-update {
    margin-left: -30px;
  }

  .section-feedback .in-feedback-slider .swiper-slide .feedback-group .feedback-mini {
    line-height: 35px;
    font-weight: 300;
    font-size: 18px;
  }
  .section-feedback .in-feedback-slider .swiper-slide .feedback-group .feedback-title {
    line-height: 30px;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 5px;
  }
}
@media (max-width: 991.98px) {
  .header {
    margin-bottom: 20px;
  }
  .header .header-logo {
    margin-bottom: 20px !important;
  }

  .intro .intro-title-group {
    text-align: center;
  }
  .intro .intro-form {
    margin: 0 auto;
    padding: 10px 30px 30px;
  }
  .intro .intro-form .intro-mini-text {
    margin-bottom: 20px;
  }

  .nav {
    justify-content: center;
  }
  .nav .nav-item {
    margin-bottom: 20px;
  }
  .nav .icon {
    margin-bottom: 20px;
    margin-left: 40px;
  }
  .nav .btn {
    margin-bottom: 20px;
  }

  .service {
    margin-bottom: 0;
  }
  .service .service-mini-text {
    margin-bottom: 20px;
    max-width: 700px;
  }
  .service .item-one {
    padding: 20px !important;
  }

  .section_worth .worth-full {
    padding: 20px;
  }

  .section-mini-logo-line {
    text-align: center;
    margin-bottom: 30px;
  }

  .section-updates {
    margin-bottom: 30px;
  }
  .section-updates .update-group {
    text-align: center;
    padding-right: 0;
    margin-left: -12px;
    margin-right: -12px;
  }
  .section-updates .update-group .update-mini-group .update-title {
    max-width: 991px;
  }
  .section-updates .update-group .update-mini-group .update-text {
    max-width: 991px;
  }

  .swiper.in-intro-slider {
    margin-top: 10px;
  }
  .swiper.in-intro-slider .swiper-wrapper {
    flex-direction: row;
  }

  .footer .head-group-footer {
    padding: 20px;
  }
}
@media (max-width: 767.98px) {
  .intro .intro-title {
    font-size: 50px;
    margin-bottom: 20px;
    line-height: 60px;
  }
  .intro .intro-form .form-control {
    line-height: 25px;
  }

  .section-updates .update-group .update-mini-group {
    padding: 20px;
  }
  .section-updates .update-group .update-mini-group .update-text {
    margin-bottom: 40px;
  }

  .section-best {
    margin-bottom: 20px;
  }
  .section-best .nav-tabs {
    margin-bottom: 20px;
  }

  .section-feedback {
    margin-bottom: 40px;
  }
  .section-feedback .form-control {
    max-width: 300px;
  }

  .service-link {
    margin-bottom: 20px;
  }

  .footer {
    margin-bottom: 40px;
  }
  .footer .element-footer {
    line-height: 1;
    margin-bottom: 16px;
  }
  .footer .footer-logo-group {
    text-align: center;
  }
  .footer .footer-logo-group .footer-text {
    max-width: 776px;
  }
  .footer .head-group-footer {
    text-align: center;
    margin: 0;
    padding: 10px;
  }

  .swiper.intro-slider .swiper-slide {
    min-height: 450px;
  }
  .swiper.intro-slider .swiper-slide .slider-text {
    font-size: 36px;
  }
  .swiper.intro-slider .swiper-slide .swiper-slide img {
    min-height: 450px;
  }

  .header .nav .nav-item {
    margin-left: 45px;
  }

  .section_worth .worth-full .worth-number .worth-group {
    margin-bottom: 50px;
  }

  .hidden-user-md {
    display: none;
  }
}
@media (max-width: 575.98px) {
  .header {
    margin-bottom: 0;
  }
  .header .nav .icon {
    font-size: 40px;
  }

  .section-updates .update-group .update-mini-group .update-title {
    font-size: 36px;
  }
  .section-updates .update-group .update-mini-group .update-form .form-control {
    min-width: 270px;
    padding: 14px 0 14px 15px;
  }
  .section-updates .update-group .img-update {
    max-width: 300px;
  }

  .modal .modal-dialog .modal-content .modal-header {
    padding: 20px;
  }
  .modal .modal-dialog .modal-body {
    padding: 20px;
  }

  .hidden-user-sm {
    display: none;
  }

  .responsive-tabs {
    padding: 16px;
  }
}
@media (min-width: 768px) {
  .responsive-tabs .nav-tabs {
    display: flex;
  }

  .responsive-tabs .card {
    border: none;
  }

  .responsive-tabs .card .card-header {
    display: none;
  }

  .responsive-tabs .card .collapse {
    display: block;
  }
}
@media (max-width: 767px) {
  .responsive-tabs .tab-pane {
    display: block !important;
    opacity: 1;
  }

  .responsive-tabs .nav-tabs {
    display: none;
  }
}

/*# sourceMappingURL=common.css.map */
