@import "../icon/style.css";
.btn-light {
  border-color: #999999;
  padding: 10px 22px;
  border-radius: 30%;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: #100F2E;
}

.btn-find {
  background: #3771C8;
  color: #FFFFFF;
  padding: 16px;
  border-radius: 10%;
}

.btn-lg {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  padding: 16px 32px;
  background: #3771C8;
  color: #FFFFFF;
}

.intro-img-group {
  margin-bottom: 120px;
}

.swiper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.swiper .swiper-slide img {
  display: block;
  object-fit: cover;
}
.swiper.intro-slider .swiper-slide {
  padding: 15px 15px 45px 15px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  min-height: 590px;
}
.swiper.intro-slider .swiper-slide img {
  width: 100%;
  max-height: 590px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.swiper.intro-slider .swiper-slide .slider-text {
  z-index: 101;
  font-weight: 600;
  font-size: 48px;
  color: #FFFFFF;
}
.swiper.in-intro-slider .swiper-wrapper {
  display: flex;
  flex-direction: column;
  max-height: 590px;
}
.swiper.in-intro-slider .swiper-slide {
  opacity: 0.4;
  overflow: hidden;
  min-height: 287px;
}
.swiper.in-intro-slider .swiper-slide img {
  width: 100%;
}
.swiper.in-intro-slider .swiper-slide-thumb-active {
  opacity: 1;
}

.form-control {
  background: #FAFAFA;
  font-size: 24px;
  font-weight: 400;
  line-height: 41px;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #FFFFFF;
  font-size: 16px;
  font-weight: normal;
  min-height: 100vh;
  overflow-x: hidden;
}

.container {
  max-width: 1304px;
}

.header {
  padding-top: 48px;
  margin-bottom: 100px;
}
.header .nav .nav-item {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #222222;
  margin-left: 40px;
}
.header .nav-item:first-child {
  margin-left: 0;
}
.header .nav .btn-light {
  margin-left: 25px;
}
.header .nav .icon {
  margin-left: 60px;
  color: #000000;
  font-size: 25px;
}

.intro .intro-title {
  font-size: 60px;
  line-height: 80px;
  color: #000000;
  margin-bottom: 30px;
  letter-spacing: 1px;
}
.intro .intro-mini-text {
  font-size: 20px;
  line-height: 32px;
  color: #555555;
}
.intro .icon {
  font-size: 20px;
  color: #999999;
}
.intro .icon-find {
  font-size: 18px;
}
.intro .intro-form {
  padding: 50px 20px;
  max-width: 490px;
}

.service .service-title {
  font-size: 40px;
  font-weight: 600;
  line-height: 50px;
  color: #000000;
  margin-bottom: 16px;
}
.service .service-mini-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: #555555;
  max-width: 500px;
  margin-bottom: 40px;
}
.service .service-group {
  padding-top: 79px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.service .service-group .service-link {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
.service .service-group .service-link::after {
  content: "";
  width: 109px;
  height: 6px;
  background: #F9D15C;
  display: block;
  border-radius: 50px;
}

.service {
  margin-bottom: 80px;
}
.service .service-items {
  text-align: center;
}
.service .service-items .item-one {
  padding: 33px 15px 50px;
}
.service .service-items .item-one .figure {
  width: 56px;
  height: 56px;
  background: #F9D15C;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  position: relative;
}
.service .service-items .item-one .icon {
  font-size: 50px;
  color: #222222;
  position: absolute;
  top: 19px;
  right: -4px;
}
.service .service-items .item-body .service-title {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  padding-top: 51px;
  margin-bottom: 12px;
}
.service .service-items .item-body .service-mini-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

.section_worth .worth-full {
  padding-left: 43px;
}
.section_worth .worth-full .worth-title {
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
  margin-bottom: 20px;
  max-width: 400px;
}
.section_worth .worth-full .worth-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 29px;
}
.section_worth .worth-full .worth-number .worth-group {
  margin-bottom: 57px;
  padding-left: 5px;
}
.section_worth .worth-full .worth-number .worth-group .worth-element {
  color: #222222;
  font-weight: 700;
  font-size: 30px;
  line-height: 46px;
  margin-bottom: 16px;
  display: block;
}
.section_worth .worth-full .worth-number .worth-group .worth-mini-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}

.row-padding-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.row-padding-0 > * {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

/*# sourceMappingURL=common.css.map */
