@import "../icon/style.css";
@import "carousel.css";
@import "form.css";
.btn-light {
  border-color: #999999;
  padding: 10px 22px;
  border-radius: 30%;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: #100F2E;
}

.btn-find {
  background: #3771C8;
  color: #FFFFFF;
  padding: 16px;
  border-radius: 10%;
}

.intro-img-group .swiper {
  width: 100%;
  height: 100%;
}
.intro-img-group .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.intro-img-group .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.intro-img-group .swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}
.intro-img-group .swiper-slide {
  background-size: cover;
  background-position: center;
}
.intro-img-group .in-intro-slider {
  height: 80%;
  width: 100%;
}
.intro-img-group .intro-slider {
  height: 20%;
}
.intro-img-group .intro-slider .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}
.intro-img-group .intro-slider .swiper-slide-thumb-active {
  opacity: 1;
}
.intro-img-group .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.form-control {
  background: #FAFAFA;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #FFFFFF;
  font-size: 16px;
  font-weight: normal;
  min-height: 100vh;
  overflow-x: hidden;
}

.container {
  max-width: 1304px;
}

.header {
  padding-top: 48px;
  margin-bottom: 100px;
}
.header .nav .nav-item {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #222222;
  margin-left: 40px;
}
.header .nav-item:first-child {
  margin-left: 0;
}
.header .nav .btn-light {
  margin-left: 25px;
}
.header .nav .icon {
  margin-left: 60px;
  color: #000000;
  font-size: 25px;
}

.intro .intro-title {
  font-size: 60px;
  line-height: 80px;
  color: #000000;
  margin-bottom: 30px;
  letter-spacing: 1px;
}
.intro .intro-mini-text {
  font-size: 20px;
  line-height: 32px;
  color: #555555;
}
.intro .icon {
  font-size: 20px;
  color: #999999;
}
.intro .icon-find {
  font-size: 18px;
}
.intro .intro_form {
  padding: 50px 20px;
  max-width: 490px;
}

.intro-img-group .intro-img-text {
  background: url("../img/intro3.png") no-repeat;
  width: 100%;
  height: 950px;
  font-weight: 600;
  font-size: 48px;
  color: #FFFFFF;
}

.row-padding-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.row-padding-0 > * {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

/*# sourceMappingURL=common.css.map */
