@import "variables"

body
	font-family: 'Open Sans', sans-serif
	background-color: $MainColor
	font-size: 16px
	font-weight: normal
	min-height: 100vh
	overflow-x: hidden

.container
	max-width: 1304px

.container-sm
	max-width: 1130px
//<!--//Header start-->
.header
	padding-top: 48px
	margin-bottom: 100px

	.header-logo
		-webkit-transition: 1s ease

	.header-logo:hover
		transform: scale(1.4,1.4) rotateX(360deg)
		transition: 1s


	.nav .nav-item
		text-decoration: none
		font-weight: 400
		font-size: 16px
		line-height: 24px
		color: $darkLightColor
		margin-left: 40px
		-webkit-transition: 2s ease

	.nav-item:first-child
		margin-left: 0

	.nav .btn-light
		margin-left: 25px
		-webkit-transition: 2s ease

	.nav .btn-light:hover
		content: ""
		background-color: rgb(249 209 92)
		z-index: 101
		transition: 1s

	.nav .icon
		margin-left: 60px
		color: #000000
		font-size: 25px
		display: block

	.nav .icon:hover
		content: ""
		transform: rotateY(180deg) scale(1.2,1.2)
		transition: 3s

	.nav a:hover
		content: ""
		color: rgb(249 209 92)
		z-index: 101
		transition: 0.3s

//<!--//Header finish-->
//<!--Section Intro Start-->
.intro

	.intro-title-group
		border: none

	.input-group-text
		border: none
		background-color: $lightColor

		border-radius: 8px

	.intro-title
		font-size: 60px
		line-height: 80px
		color: $mainDarkColor
		margin-bottom: 30px
		letter-spacing: 1px

	.intro-mini-text
		font-size: 20px
		line-height: 32px
		color: $primaryTransparentColor

	.icon
		font-size: 20px
		color: $primaryLighterColor

	.icon-find
		font-size: 18px

	.intro-form
		padding: 50px 20px
		max-width: 490px
		box-shadow: 0 22px 38px rgba(0, 34, 19, 0.04)
		border-radius: 20px

//<!--Section Intro finish-->
//<!--section service start-->
.service

	.service-title
		font-size: 40px
		font-weight: 600
		line-height: 50px
		color: $mainDarkColor
		margin-bottom: 16px

	.service-mini-text
		font-size: 16px
		font-weight: 400
		line-height: 28px
		color: $primaryTransparentColor
		max-width: 580px
		margin-bottom: 40px

	.service-group
		display: flex
		flex-direction: column
		text-align: center

.service-link
	text-decoration: none
	font-size: 16px
	font-weight: 400
	line-height: 28px
	position: relative
	display: inline-block

	&:after
		content: ""
		height: 6px
		display: block
		border-radius: 3px
		border: $primaryColor solid 1px
		position: absolute
		top: 100%
		right: -15px
		left: -15px

//section service finish-->
//<!--Service_items-->
.service
	margin-bottom: 80px

	.service-items
		text-align: center

		.item-one
			padding: 33px 15px 50px
			border-radius: 8px

			&:hover
				box-shadow: 0 30px 40px rgba(0, 0, 0, 0.05)

			.figure
				width: 56px
				height: 56px
				background: $primaryColor
				-moz-border-radius: 50px
				-webkit-border-radius: 50px
				border-radius: 50px
				position: relative

			.icon
				font-size: 50px
				color: $darkLightColor
				position: absolute
				top: 19px
				right: -4px

		.item-body

			.service-title
				font-size: 20px
				font-weight: 400
				line-height: 28px
				padding-top: 51px
				margin-bottom: 12px

			.service-mini-text
				font-size: 16px
				font-weight: 400
				line-height: 28px

//<!--Service-items Finish-->
//<!--section-worth start-->
.section_worth
	margin-bottom: 100px

	.worth-full
		padding-left: 43px

		.worth-title
			font-weight: 600
			font-size: 40px
			line-height: 50px
			margin-bottom: 20px
			max-width: 400px

		.worth-text
			font-weight: 400
			font-size: 16px
			line-height: 29px
		.worth-number

			.worth-group
				margin-bottom: 57px
				padding-left: 5px
				text-align: center

				.worth-element
					color: $darkLightColor
					font-weight: 700
					font-size: 30px
					line-height: 46px
					margin-bottom: 16px
					display: block

				.worth-mini-text
					font-weight: 400
					font-size: 16px
					line-height: 28px
					text-align: center
//<!--section-worth finish-->

.section-mini-logo-line
	margin-bottom: 100px

	.mini-logo-one
		-webkit-transition: 2s ease

	.mini-logo-one:hover
		transform: scale(1.4,1.4)
		transition: 1s


//section-best start!
.section-best
	margin-bottom: 120px

	.tab-user
		color: #495057
		text-decoration: none
		display: block
		width: 100%

	.card-header
		border: 0
		text-align: center
		background-color: $primaryColorLight
		margin-bottom: 20px
		border-radius: 10px

	.tab-content

		.card
			border-radius: 10px
			margin-bottom: 10px
			border: 0

			.card-img-top
				margin-bottom: 20px

			.card-body
				padding: 0 20px 3px

				.card-title
					font-weight: 600
					font-size: 20px
					line-height: 1.5
					margin-bottom: 8px
					color: $darkLightColor
					text-align: left

				.card-text
					font-weight: 400
					font-size: 14px
					line-height: 1.7
					margin-bottom: 27px
					color: $darkLightColor
					text-align: left
					max-width: 330px

				.card-footer
					border: 0
					background-color: $MainColor
					padding: 0

				.card-footer p
					display: flex
					font-weight: 600
					font-size: 24px
					line-height: 1
					color: $FindColor

					.best-element
						font-weight: 400
						font-size: 14px
						line-height: 1.7
						color: $darkLightColor
						//margin-left: 5px
						padding-top: 5px

	.best-title
		font-weight: 600
		font-size: 40px
		line-height: 60px
		margin-bottom: 20px

	.best-text
		font-weight: 400
		font-size: 16px
		line-height: 27px
		margin-bottom: 20px
		max-width: 405px

	.nav-link
		color: $primaryTransparentColor
		padding: 8px 27px
		border-color: $primaryLighterColor 1px solid
		-webkit-transition: 2s ease

	.nav-link:hover
		content: ""
		position: relative
		top: 0
		left: 0
		right: 0
		bottom: 0
		background-color: rgba(0,0,0,.15)
		z-index: 101
		transition: 1s
		border-radius: 10px

	.nav li
		margin-right: 39px

	.nav li:last-child
		margin-right: 0


	.nav-tabs
		border: none
		margin-bottom: 40px

		.nav-item
			border:  1px solid $primaryTransparentColor
			border-radius: 10px

			.nav-link.active
				border:  1px solid $darkLightColor
				border-radius: 10px
.best-service-group
	display: flex
	flex-direction: column
	text-align: center

	.service-link
		text-decoration: none
		font-size: 16px
		font-weight: 400
		line-height: 35px
		-webkit-transition: 2s ease

	.service-link:hover
		transform: scale(1.2,1.2)
		transition: 2s

	.service-link::after
		content: ""
		height: 6px
		display: block
		border-radius: 50px
		border: $primaryColor solid 1px


//section best card
.section-best-cards
	margin-bottom: 120px



//<!--section-updates start-->

//<!--section-updates finish-->
.section-updates
	margin-bottom: 125px

	.update-group
		background-color: $GrayColor
		padding-right: 84px
		overflow: hidden
		border-radius: 16px

		.update-mini-group
			padding: 60px 74px 66px 74px

			.update-title
				font-weight: 600
				font-size: 40px
				line-height: 1.25
				margin-bottom: 20px
				color: $darkLightColor
				max-width: 700px

			.update-text
				font-weight: 400
				font-size: 16px
				line-height: 1.75
				margin-bottom: 92px
				color: $primaryTransparentColor
				max-width: 500px

			.update-form
				display: flex

				.form-control
					background: $MainColor
					border-radius: 25px
					font-size: 14px
					line-height: 2
					font-weight: 400
					padding: 14px 0 14px 25px
					position: relative
					min-width: 486px

				.input-group
					flex-wrap: nowrap
					align-content: center

		.img-update
			height: auto
			max-width: 400px

.footer
	margin-bottom: 60px

	.footer-logo-group
		padding-left: 20px

		.footer-logo
			margin-bottom: 19px

		.footer-text
			color: $primaryTransparentColor
			margin-bottom: 31px
			font-size: 16px
			line-height: 1.5
			font-weight: 400
			max-width: 265px

	.footer-social-icon a
		margin-right: 24px
		text-decoration: none

	.footer-social-icon .icon
		font-size: 18px
		color: $primaryTransparentColor

	.head-group-footer
		list-style: none
		padding-right: 24px
		padding-left: 118px

	.head-group-footer a
		font-size: 16px
		line-height: 1.5
		font-weight: 400
		color: $darkLightColor
		text-decoration: none
		margin-bottom: 16px
		display: block

	.element-footer
		font-size: 24px
		line-height: 1.5
		font-weight: 400
		color: $darkLightColor
		margin-bottom: 24px
		display: block



