@import "variables"

body
    font-family: 'Open Sans', sans-serif
    background-color: $lighterColor
    font-size: 16px
    font-weight: normal
    min-height: 100vh
    overflow-x: hidden

.container
    max-width: 1280px

.header
    padding-top: 48px

    .nav .nav-item
        text-decoration: none


