@import "variables"


.modal .btn-close
	width: 25px
	height: 25px
	border-radius: 50%
	background: $primaryColor
	color: $mainDarkColor
	font-size: 16px
	text-align: center
	font-weight: 800
	top: -32px
	right: -26px

	.modal-content
		padding: 20px