@import "variables"

@media screen and (max-width: 1199.98px)

	.swiper.intro-slider

		.swiper-slide img
			min-height: 590px

	.service-link:after
		position: static


	.section_worth
		text-align: center
		margin-bottom: 30px

		.worth-full

			.worth-title
				max-width: 1119px
				text-align: center



	.service
		margin-bottom: 30px

	.img-worth
		margin: 0 auto 20px
		display: block


	.intro-img-group
		margin-bottom: 30px

		&.feedback-title
			margin-bottom: 10px

	.section-updates

		.update-group

			.img-update
				margin-left: -30px
	.section-feedback

		.in-feedback-slider

			.swiper-slide

				.feedback-group

					.feedback-mini
						line-height: 35px
						font-weight: 300
						font-size: 18px

					.feedback-title
						line-height: 30px
						font-weight: 400
						font-size: 18px
						margin-bottom: 5px


@media (max-width: 991.98px)
	.header
		margin-bottom: 20px

		.header-logo
			margin-bottom: 20px!important

	.intro

		.intro-title-group
			text-align: center

		.intro-form
			margin: 0 auto
			padding: 10px 30px 30px

			.intro-mini-text
				margin-bottom: 20px

	.nav
		justify-content: center


		.nav-item
			margin-bottom: 20px
		.icon
			margin-bottom: 20px
			margin-left: 40px

		.btn
			margin-bottom: 20px

	.service
		margin-bottom: 0

		.service-mini-text
			margin-bottom: 20px
			max-width: 700px

		.item-one
			padding: 20px!important

	.section_worth

		.worth-full
			padding: 20px

	.section-mini-logo-line
		text-align: center
		margin-bottom: 30px

	.section-updates
		margin-bottom: 30px

		.update-group
			text-align: center
			padding-right: 0
			margin-left: -12px
			margin-right: -12px

			.update-mini-group

				.update-title
					max-width: 991px

				.update-text
					max-width: 991px

	.swiper

		&.in-intro-slider
			margin-top: 10px

			.swiper-wrapper
				flex-direction: row

	.footer

		.head-group-footer
			padding: 20px


@media (max-width: 767.98px)
	.intro

		.intro-title
			font-size: 50px
			margin-bottom: 20px
			line-height: 60px

		.intro-form
			.form-control
				line-height: 25px

	.section-updates

		.update-group

			.update-mini-group
				padding: 20px

				.update-text
					margin-bottom: 40px
	.section-best
		margin-bottom: 20px

		.nav-tabs
			margin-bottom: 20px

	.section-feedback
		margin-bottom: 40px


		.form-control
			max-width: 300px

	.service-link
		margin-bottom: 20px

	.footer
		margin-bottom: 40px

		.element-footer
			line-height: 1
			margin-bottom: 16px

		.footer-logo-group
			text-align: center

			.footer-text
				max-width: 776px

		.head-group-footer
			text-align: center
			margin: 0
			padding: 10px

	.swiper.intro-slider

		.swiper-slide
			min-height: 450px

			.slider-text
				font-size: 36px

			.swiper-slide img
				min-height: 450px

	.header
		.nav
			.nav-item
				margin-left: 45px

	.section_worth

		.worth-full

			.worth-number

				.worth-group
					margin-bottom: 50px

	.hidden-user-md
		display: none

@media (max-width: 575.98px)
	.header
		margin-bottom: 0

		.nav
			.icon
				font-size: 40px

	.section-updates

		.update-group

			.update-mini-group
				.update-title
					font-size: 36px

				.update-form

					.form-control
						min-width: 270px
						padding: 14px 0 14px 15px

			.img-update
				max-width: 300px
	.modal
		.modal-dialog

			.modal-content

				.modal-header
					padding: 20px

			.modal-body
				padding: 20px

	.hidden-user-sm
		display: none


	.responsive-tabs
		padding: 16px

@media (min-width: 768px)
	.responsive-tabs .nav-tabs
		display: flex


	.responsive-tabs .card
		border: none


	.responsive-tabs .card .card-header
		display: none


	.responsive-tabs .card .collapse
		display: block


@media (max-width: 767px)
	.responsive-tabs .tab-pane
		display: block !important
		opacity: 1

	.responsive-tabs .nav-tabs
		display: none
