@import "variables"

@media screen and (max-width: 1199.98px)

	.swiper.intro-slider

		.swiper-slide img
			min-height: 590px

	.service-link:after
		position: static


	.section_worth
		text-align: center
		margin-bottom: 30px

		.worth-full

			.worth-title
				max-width: 1119px
				text-align: center

	.service
		margin-bottom: 30px

	.img-worth
		margin: 0 auto 20px
		display: block


	.intro-img-group
		margin-bottom: 30px

		&.feedback-title
			margin-bottom: 10px

@media (max-width: 991.98px)
	.header
		margin-bottom: 40px
	.intro

		.intro-title-group
			text-align: center

		.intro-form
			margin: 0 auto
			padding: 10px 30px 30px

		.intro-mini-text
			margin-bottom: 20px

	.header-logo
		margin-bottom: 20px

	.nav
		justify-content: center

		.nav-item
			margin-bottom: 20px
		.icon
			margin-bottom: 20px
			margin-left: 40px

		.btn
			margin-bottom: 20px

	.service
		margin-bottom: 0

		.service-mini-text
			margin-bottom: 20px

		.item-one
			padding: 20px!important

	.section_worth

		.worth-full
			padding: 20px

	.section-mini-logo-line
		text-align: center
		margin-bottom: 30px

	.section-updates
		margin-bottom: 30px

		.update-group
			text-align: center
			padding-right: 0

			.update-mini-group

				.update-title
					max-width: 991px

				.update-text
					max-width: 991px

	.swiper

		&.in-intro-slider
			margin-top: 10px

			.swiper-wrapper
				flex-direction: row
	.section-feedback

		.in-feedback-slider

			.swiper-slide

				.feedback-group

					.feedback-mini
						line-height: 35px
						font-weight: 300
						font-size: 18px

					.feedback-title
						line-height: 32px
						font-weight: 400
						font-size: 18px
						margin-bottom: 10px

	.footer

		.head-group-footer
			padding: 20px
