@import "variables"

@media screen and (max-width: 1199.98px)

	.swiper.intro-slider .swiper-slide img
		min-height: 590px

	.section_worth

		.img-worth
			margin: 0 auto

	.service-link:after
		position: static


	.section_worth .worth-full .worth-title
		max-width: 1119px
		text-align: center

	.service
		.service-title
			text-align: center

		.service-mini-text
			max-width: 1119px
			text-align: center
