$MainColor: #FFFFFF
$lightColor: #FAFAFA
$primaryLighterColor: #999999
$FindColor: #3771C8
$darkLighterColor: #100F2E
$darkLightColor: #222222
$mainDarkColor: #000000
$primaryTransparentColor: #555555